[Unit]
Description=Mongotron Telegram Bot
After=network.target mongotron-api.service

[Service]
Type=simple
User=user0
WorkingDirectory=/home/user0/Github/mongotron/telegram-bot
Environment="PATH=/home/user0/Github/mongotron/telegram-bot/venv/bin"
ExecStart=/home/user0/Github/mongotron/telegram-bot/venv/bin/python bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
